.home-section .navbar{
    display: none;
}
.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
.logo {
    font-size: 20px;
    color: #000;
    letter-spacing: 2px;
    text-decoration: none;
}
.logo a {
    text-decoration: none;
    font-size: 24px;
    color: #f2e529;
}
.burger {
    width: 35px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
nav .burger-wrapper{
    display: flex;
    width: 100%;
    align-items: center;
    height: 10vh;
    justify-content: space-between;
}
nav .burger {
    margin: 5px 37px;
}
.line {
    width: 100%;
    height: 3px;
    background: #f5f5f5;
    transition: all 0.8s;
}
.change .line-1 {
    transform: rotateZ(-405deg) translate(-8px, 6px);
    background: #f5f5f5;
}
.change .line-2 {
    opacity: 0;
}
.change .line-3 {
    transform: rotateZ(405deg) translate(-8px, -6px);
    background: #f5f5f5;
}
.navbar {
    width: 250px;
    height: 100%;
    background-color: #bfbfbf;
    position: fixed;
    top: 0;
    left: -250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: left .8s ease-in;
}
.change {
    left: 0;
}
.change {
    left: 0;
}
.nav-list {
    text-align: left;
}
.nav-item {
    list-style: none;
    margin: 25px;
}
.nav-link{
    text-decoration: none;
    font-size: 22px;
    color: whitesmoke;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
}
.nav-link::before,
.nav-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: whitesmoke;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}
.nav-link::after{
    bottom: 0;
    transform-origin: right;
}
.nav-link::before{
    top: 0;
    transform-origin: left;
}
.nav-link:hover::before,
.nav-link:hover::after{
    transform: scaleX(1);
}

@media (min-width: 768px) {
    .home-section .navbar {
        display: flex;
    }

}
